<header class="compact">
	<h2 id="headercontrols" class="headercontrols visible">
		<span id="user" class="user" style="display:none;">Welcome, User!</span>
		<a id="signup" href="">Sign Up</a>
		<a id="signin" href="">Sign In</a>
		<a id="settings" href="" style="display:none;">Settings</a>
		<a id="signout" href="" style="display:none;">Sign Out</a>
	</h2>
	<a href="javascript:void(0)" onclick="return Reload();"><h1 id="logo" class="logo">Jogtracks</h1></a>
</header>

<div id="main" class="main-content">

	<div class="welcome page">
		<div class="splashBox">
			<div class="splashText">
				<h4 class="splash">Track your jogs and get free coaching!</h4>
			</div>
			<img class="splash" src="/images/jogging-silhouettes-grunge-background.jpg"/>
		</div>
		<a href="https://www.vexels.com/vectors/preview/71484/jogging-silhouettes-grunge-background"> Jogging silhouettes grunge background </a> | designed by Vexels
	</div>

	<div class="auth page">
		<div id="authMessage" class="message"></div>
		<div class="group">
			<form name="authForm">
				<ul class="formdefault">
					<li id="accountType">
						<label>Account Type <span class="required">*</span></label>
						<label><input id="jogger" type="radio" name="accountType" value="JOGGER" checked> I'm a Jogger</label>
						<label><input id="coach" type="radio" name="accountType" value="COACH"> I'm a Coach</label>
					</li>
					<li>
						<label>Username <span class="required">*</span></label>
						<input type="text" id="username" name="username" class="field" />
						<label id="username-taken" style="display: none;" class="error"></label>
					</li>
					<li>
						<label>Password <span class="required">*</span></label>
						<input type="password" id="password" name="password" class="field" />
					</li>
					<li id="confirm">
						<label>Confirm Password <span class="required">*</span></label>
						<input type="password" id="cpassword" name="cpassword" class="field" />
					</li>
					<li>
						<input type="submit" value="Submit" />
					</li>
				</ul>
			</form>
		</div>
	</div>

	<div class="settings page">
		<div class="message">Settings</div>
		<div class="group">
			<div class="messageLeft">Account Type</div>
			<div id="accountTypeMessage" class="messageLeftSmall"></div>
		</div>
		<div id="coachGroup" class="group">
			<div class="messageLeft">Coach</div>
			<div id="changeCoachMessage" class="messageColor" style="display: none;">Your changes have been saved!</div>
			<form name="coachForm">
				<ul class="formdefault">
					<label><input id="noCoach" type="radio" name="coach" value="noCoach" checked> I don't want to use a coach</label>
					<label><input id="useCoach" type="radio" name="coach" value="useCoach"> I want to use a coach</label>
					<li id="coachSelect">
						<!-- Keeping the label on the select centers the placeholder. -->
						<label><select id="coachSelectControl"></select></label>
						<label id="coach-select" style="display: none;" class="error"></label>
					</li>
					<li>
						<input type="submit" value="Save Changes" />
					</li>
				</ul>
			</form>
		</div>
		<div class="group">
			<div class="messageLeft">Change Password</div>
			<div id="changePasswordMessage" class="messageColor" style="display: none;">Your password has been changed!</div>
			<form name="changePasswordForm">
				<ul class="formdefault">
					<li>
						<label>New Password <span class="required">*</span></label>
						<input type="password" id="changePassword" name="changePassword" class="field" />
					</li>
					<li id="confirm">
						<label>Confirm New Password <span class="required">*</span></label>
						<input type="password" id="changecPassword" name="changecPassword" class="field" />
					</li>
					<li>
						<input type="submit" value="Submit" />
					</li>
				</ul>
			</form>
		</div>
		<div><a id="settingsDone" href="">Done</a></div>
	</div>
	
	<div class="all-jogs page">
		<div class="controls">
			<form>
				<span>Sort Order</span>
				<label><input type="radio" name="sort" value="Name" checked> Sort by Name</label>
				<label><input type="radio" name="sort" value="Rating"> Sort by Rating</label>
			</form>
			<button id="newjog">New Jog</button>
		</div>
		<ul class="jogs-list"></ul>
		<script id="jogs-template" type="x-handlebars-template">​
			{{#each this}}
				<li data-index="{{Id}}">
					<h2 style="background-color: {{UserColor}};"><a href="#">{{Date}}</a></h2>
					<ul class="jog-description">
						<li><span>Jogger: </span>{{UserName}}</li>
						<li><span>Distance: </span>{{Distance}} km</li>
						<li><span>Time: </span>{{TimeString}}</li>
						<li><span>Average Speed: </span>{{AverageSpeed}} km/h</li>
					</ul>
					<!--<div class="highlight"></div>-->
				</li>
			{{/each}}
		</script>
	</div>

	<div class="single-jog page">
		<div class="overlay"></div>
		<div class="preview-large">
			<h3>Single jog view</h3>
			<img src=""/>
			<p></p>
			<span class="close">×</span>
		</div>
	</div>

	<div class="errorMessage page">
		<h3>Sorry, something went wrong :(</h3>
	</div>

</div>